<div *ngIf="movie" [class]="'movie-tile ' + (fullPage ? 'full-page' : '')">
  <h4 class="name" *ngIf="!fullPage">
    <a routerLink="/movie/{{ movie.id }}">{{ movie.name }} <mat-icon>insert_link</mat-icon></a>

  </h4>
  <div class="content">
    <div class="cell left">
      <img src="/assets/images/movie-covers/{{ movie.img }}" alt="">
    </div>
    <div class="cell right">
      <p [class]="'description ' + (!fullPage ? 'micro' : '')">
        {{ movie.description }}
      </p>
      <p class="param-value">
        <b class="bold-col">
          Duration:
        </b>
        {{ movie.length | movieDuration }}
      </p>
      <p class="param-value">
        <b class="bold-col">
          Rating:
        </b>
        {{ movie.rate }}
      </p>
      <p class="param-value">
        <b class="bold-col">
          Genres:
        </b>
        <span class="genre" *ngFor="let genre of movie.genres">
          {{ genre }}
        </span>
      </p>
    </div>
  </div>

</div>